/*

  Base
  +

*/

body{
  background: white; // Change to $color-primary
  margin: 0;
  font: 14px/20px sans-serif;
  color: $color-primary;
}


//Clearfix
.clearfix {
  zoom: 1;

  &:after {
      clear: both;
      content: '';
      display: block;
  }
}

//Hide
.hide{
  display:none !important;
}

}