/*

  Card Block
  +

*/
.link-card.card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
}

.link-card.card{
    &:hover, &:focus{
        box-shadow: $box-shadow-hover;
        border-bottom: $deep-gold 5px solid;
        transition: $thetransition;
    }

    .background-image{
        display:block;
        width:100%;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover
    }

    .media-content{
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:center;
        padding:1.25rem 1.375rem;
        width:100%;

        .title{
            font-size:1.25rem !important;
            font-family:acumin-pro-semi-condensed;
            font-weight:600
        }

        .vertical-subtext{
            font-size:1.25rem !important;
            font-family:acumin-pro;
            font-weight:400;
            line-height:1.75rem;
            color:$cool-gray;
        }
    }
}


 .link-card--square {
        .media-content{
            display:flex;
            flex-direction:column;
            align-items:flex-start !important
        }
        p{
            color: $steel-gray !important;
            font-weight:400 !important
        }
        .title{
            color:$deep-gold !important;
            font-weight:600 !important
        }
}
