/*

  Navigation
  +

*/

.unicode-navbar-black{
    padding: 1.75rem 3.25rem;
    align-items: center !important;
    position: relative;
    font-family: $acumin-pro-semicondensed;

    a{
        font-weight: $normal-weight;
    }
}
