/*

  Navigation
  +

*/

.unicode-navbar-black{
    padding: 1.75rem 3.25rem;
    align-items: center !important;
    position: relative;
    font-family: $acumin-pro-semicondensed;

    a{
        font-weight: $normal-weight;
    }
        //touch/mobile
        @include touch {
            padding:1.5rem $side-padding-tablet 1rem;
          }
          @include mobile {
            padding:1.5rem $side-padding-mobile 1rem;
          }
}
